/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .site_header{padding: 10px 0;}
    .header_info{margin: 12px 0;}
    .navbar li.nav-item{border-right: none !important; }
    .navbar-toggler-icon i{padding-top: 5px;}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    .site_header{padding: 10px 0;}
    .header_info{margin: 10px 0;}
    .navbar li.nav-item{border-right: none !important;}
   .navbar-toggler-icon i{padding-top: 6px;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    .site_header{padding: 10px 0;}
}


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   
        .header_info{ margin: 26px 0;  }
        .header_info ul li:first-child{ margin-right: 25px !important; }
         
}